Source: unudhcpd
Section: unknown
Priority: optional
Maintainer: Marc Lainez <marc@spin42.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://gitlab.com/postmarketOS/unudhcpd

Package: unudhcpd
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: unudhcpd debian package based on postmarketOS source tree
