#!/usr/bin/make -f

export DH_VERBOSE=1
export BUILDDIR=builddir

%:
	dh $@ --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	meson setup $(BUILDDIR) $(CURDIR)/unudhcpd --cross-file $(CURDIR)/armhf.txt --prefix=/usr

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/arm-linux-gnueabihf/lib

override_dh_auto_build:
	ninja -C $(BUILDDIR)

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/unudhcpd ninja -C $(BUILDDIR) install

